<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section class="bg-gray-100 min-h-screen py-10">
        <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
          <h2 class="text-3xl font-semibold text-blue-900 text-center">
            Skill Gap Analysis
          </h2>

          <h3 class="text-xl text-green-600 mt-4">Matched Skills ✅</h3>
          <ul class="list-disc ml-6 text-gray-700">
            {% for skill in matched_skills %}
            <li>{{ skill }}</li>
            {% endfor %}
          </ul>

          <h3 class="text-xl text-red-600 mt-4">Missing Skills ❌</h3>
          <ul class="list-disc ml-6 text-gray-700">
            {% for skill in missing_skills %}
            <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
