<section class="py-3 px-4 sm:px-8 md:px-16">
  <!-- Top Row - Skills Match & Analysis -->
  <div
    class="flex flex-col lg:flex-row justify-between items-stretch w-full gap-4 mb-4"
  >
    <!-- Skills Match Card -->
    <div class="border border-1 rounded-xl w-full lg:w-[30%] p-4">
      <h2 class="font-bold text-xl md:text-2xl">Skills Match</h2>
      <p class="text-gray-400 font-semibold text-sm">
        Your resume compared to trending skills
      </p>

      <div class="w-full">
        <div class="w-full my-4">
          <div class="flex justify-between items-center w-full">
            <span class="font-semibold text-sm text-gray-600"
              >Overall Match</span
            >
            <span class="font-semibold text-sm text-gray-600"
              >{{match_points}}%</span
            >
          </div>
          <div class="progress-bar w-full">
            <div class="progress-fill w-full"></div>
          </div>
        </div>

        <div class="w-full">
          <span class="font-semibold text-sm">Skill Category</span>
          {% include 'dash/skills_categories.html' %}
        </div>
      </div>
    </div>

    <!-- Skills Analysis Card -->
    <div class="border border-1 rounded-xl w-full lg:w-[67%] p-4">
      <h2 class="font-bold text-xl md:text-2xl">Skills Analysis</h2>
      <p class="text-gray-400 font-semibold text-sm">Top 5 market trends</p>
      <div class="w-full mt-4 md:mt-8 lg:mt-16">
        <canvas id="skillsChart" class="w-full" height="150"></canvas>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row justify-between items-stretch gap-4 my-4"
  >
    <div class="border border-1 rounded-xl w-full md:w-[30%] p-4">
      <h4 class="font-semibold">Your skills</h4>
      <p class="text-sm font-semibold text-gray-400 mt-1">
        Skills extracted from your resume
      </p>

      <div class="flex flex-wrap items-center gap-2 mt-4">
        {% for skill in extracted_skills %}
        <p
          class="bg-green-400 rounded-3xl py-1 px-3 font-semibold text-xs sm:text-sm"
        >
          {{skill}}
        </p>
        {% endfor %}
      </div>
    </div>

    <!-- Missing Skills Card -->
    <div class="border border-1 rounded-xl w-full md:w-[30%] p-4">
      <h4 class="font-semibold">Missing Skills</h4>
      <p class="text-sm font-semibold text-gray-400 mt-1">
        Trending skills not found in your resume
      </p>
      <div class="flex flex-wrap items-center gap-2 mt-4">
        {% for skill in missing %}
        <p
          class="rounded-3xl py-1 px-3 font-semibold text-xs sm:text-sm border border-red-400 text-red-400"
        >
          {{skill}}
        </p>
        {% endfor %}
      </div>
    </div>

    <!-- Insights Card -->
    <div class="border border-1 rounded-xl w-full md:w-[30%] p-4">
      <h4 class="font-semibold">Insights</h4>
      <p class="text-sm font-semibold text-gray-400 mt-1">
        Summary of suggestions to improve your resume
      </p>
      <div class="mt-4">
        <div class="mt-2 md:mt-4">
          <p class="font-semibold text-sm md:text-base">
            <span class="text-gray-500">{{insigths}}</span>
          </p>
          <a
            href="{{url_for('views.dashboard', view='recommendation')}}"
            class="bg-blue-500 py-2 w-full font-semibold text-xs rounded-xl block text-center text-white mt-4"
            >View Recommendations</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const progressValue = {{match_points}};
  document.querySelector(".progress-fill").style.width = `${parseInt(progressValue)}%`;

  const techVal = {{tech_points}}
  document.querySelector(".tech-progress-fill").style.width = `${parseInt(techVal)}%`

  const domainVal = {{domain_points}}
  document.querySelector(".domain-progress-fill").style.width = `${parseInt(domainVal)}%`

  const toolVal = {{tool_points}}
  document.querySelector(".tool-progress-fill").style.width = `${parseInt(toolVal)}%`

  const softVal = {{soft_points}}
  document.querySelector(".soft-progress-fill").style.width = `${parseInt(softVal)}%`
</script>
