<section class="py-3 px-16">
  <div class="flex justify-between items-stretch w-full">
    <div class="border border-1 rounded-xl w-[30%] p-4">
      <h2 class="font-bold text-2xl">Skills Match</h2>
      <p class="text-gray-400 font-semibold text-sm">
        Your resume compared to trending skills
      </p>

      <div class="w-full">
        <div class="w-full my-4">
          <div class="flex justify-between items-center w-full">
            <span class="font-semibold text-sm text-gray-600"
              >Overall Match</span
            >
            <span class="font-semibold text-sm text-gray-600"
              >{{match_points}}%</span
            >
          </div>
          <div class="progress-bar w-full">
            <div class="progress-fill w-full"></div>
          </div>
        </div>

        <div class="w-full">
          <span class="font-semibold text-sm">Skill Category</span>

          {% include 'dash/skills_categories.html' %}
        </div>
      </div>
    </div>

    <div class="border border-1 rounded-xl w-[67%] p-4">
      <h2 class="font-bold text-2xl">Skills Analysis</h2>
      <p class="text-gray-400 font-semibold text-sm">
        Comparison with market trends
      </p>
      <div class="w-full mt-16">
        <canvas id="skillsChart" width="600" height="150"></canvas>
      </div>
    </div>
  </div>

  <!-- matching skills -->

  <div class="flex justify-between items-stretch my-4">
    <div class="border border-1 rounded-xl w-[30%] p-4">
      <h4 class="font-semibold">Matching Skills</h4>
      <p class="text-sm font-semibold text-gray-400 mt-1">
        Skills in your resume that are trending
      </p>

      <div class="flex items-center gap-3 mt-4">
        <p class="bg-green-400 rounded-3xl py-1 px-4 font-semibold text-sm">
          python
        </p>
        <p class="bg-green-400 rounded-3xl py-1 px-4 font-semibold text-sm">
          java
        </p>
      </div>
    </div>

    <!-- missing skills -->

    <div class="border border-1 rounded-xl w-[30%] p-4">
      <h4 class="font-semibold">Missing Skills</h4>
      <p class="text-sm font-semibold text-gray-400 mt-1">
        Trending skills not found in your resume
      </p>
      <div class="flex items-center gap-3 mt-4">
        <p
          class="rounded-3xl py-1 px-4 font-semibold text-sm border border-red-400 text-red-400"
        >
          python
        </p>
        <p
          class="rounded-3xl py-1 px-4 font-semibold text-sm border border-red-400 text-red-400"
        >
          java
        </p>
      </div>
    </div>

    <!-- recommendations -->

    <div class="border border-1 rounded-xl w-[30%] p-4">
      <h4 class="font-semibold">Recommendations</h4>
      <p class="text-sm font-semibold text-gray-400 mt-1">
        Summary of suggestions to improve your resume
      </p>
      <div class="mt-4">
        <h5 class="font-semibold text-sm mt-3">Add key trending skills</h5>
        <p class="text-sm font-semibold text-gray-400">
          Consider adding these top trending skills to you resume:
        </p>

        <div class="mt-4">
          <p class="font-semibold text-xs">
            <span class="bg-blue-200 text-blue-500 py-1 px-3 mr-3 rounded-md"
              >TypeScript</span
            >(high demand)
          </p>

          <p class="font-semibold text-xs mt-3">
            <span class="bg-blue-200 text-blue-500 py-1 px-3 mr-3 rounded-md"
              >Docker</span
            >(high demand)
          </p>

          <p class="font-semibold text-xs mt-3">
            <span class="bg-blue-200 text-blue-500 py-1 px-3 mr-3 rounded-md"
              >PostgreSQL</span
            >(high demand)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const progressValue = {{match_points}};
  document.querySelector(".progress-fill").style.width = `${parseInt(progressValue)}%`;

  const techVal = {{tech_points}}
  document.querySelector(".tech-progress-fill").style.width = `${parseInt(techVal)}%`

  const domainVal = {{domain_points}}
  document.querySelector(".domain-progress-fill").style.width = `${parseInt(domainVal)}%`

  const toolVal = {{tool_points}}
  document.querySelector(".tool-progress-fill").style.width = `${parseInt(toolVal)}%`

  const softVal = {{soft_points}}
  document.querySelector(".soft-progress-fill").style.width = `${parseInt(softVal)}%`

  // const softVal = {{soft_points}}
  // document.querySelector(".soft-progress-fill").style.width = `${parseInt(softVal)}%`

</script>
