<!-- technical -->
<div class="w-full my-4">
  <div class="flex justify-between items-center w-full">
    <span class="font-semibold text-xs text-gray-600">Technical</span>
    <span class="font-semibold text-sm text-gray-600">{{tech_points}}%</span>
  </div>
  <div class="tech-progress-bar progress-bar w-full">
    <div class="tech-progress-fill progress-fill w-full"></div>
  </div>
</div>

<!-- soft -->
<div class="w-full my-4">
  <div class="flex justify-between items-center w-full">
    <span class="font-semibold text-xs text-gray-600">Soft Skills</span>
    <span class="font-semibold text-sm text-gray-600">{{soft_points}}%</span>
  </div>
  <div class="soft-progress-bar progress-bar w-full">
    <div class="soft-progress-fill progress-fill w-full"></div>
  </div>
</div>

<!-- domain -->
<div class="w-full my-4">
  <div class="flex justify-between items-center w-full">
    <span class="font-semibold text-xs text-gray-600">Domain Knowledge</span>
    <span class="font-semibold text-sm text-gray-600">{{domain_points}}%</span>
  </div>
  <div class="domain-progress-bar progress-bar w-full">
    <div class="domain-progress-fill progress-fill w-full"></div>
  </div>
</div>

<!-- tool -->
<div class="w-full my-4">
  <div class="flex justify-between items-center w-full">
    <span class="font-semibold text-xs text-gray-600">Tools</span>
    <span class="font-semibold text-sm text-gray-600">{{tool_points}}%</span>
  </div>
  <div class="tool-progress-bar progress-bar w-full">
    <div class="tool-progress-fill progress-fill w-full"></div>
  </div>
</div>
