<!-- technical -->
<div class="w-full my-4">
  <div class="flex justify-between items-center w-full">
    <span class="font-semibold text-xs text-gray-600">Technical</span>
    <span class="font-semibold text-sm text-gray-600">70%</span>
  </div>
  <div class="progress-bar w-full">
    <div class="progress-fill w-full"></div>
  </div>
</div>

<!-- soft -->
<div class="w-full my-4">
  <div class="flex justify-between items-center w-full">
    <span class="font-semibold text-xs text-gray-600">Soft Skills</span>
    <span class="font-semibold text-sm text-gray-600">70%</span>
  </div>
  <div class="progress-bar w-full">
    <div class="progress-fill w-full"></div>
  </div>
</div>

<!-- domain -->
<div class="w-full my-4">
  <div class="flex justify-between items-center w-full">
    <span class="font-semibold text-xs text-gray-600">Domain Knowledge</span>
    <span class="font-semibold text-sm text-gray-600">70%</span>
  </div>
  <div class="progress-bar w-full">
    <div class="progress-fill w-full"></div>
  </div>
</div>

<!-- domain -->
<div class="w-full my-4">
  <div class="flex justify-between items-center w-full">
    <span class="font-semibold text-xs text-gray-600">Tools</span>
    <span class="font-semibold text-sm text-gray-600">70%</span>
  </div>
  <div class="progress-bar w-full">
    <div class="progress-fill w-full"></div>
  </div>
</div>
